server:
  # socket_path: defaults to $XDG_RUNTIME_DIR/pantalk.sock (or /tmp/pantalk-<uid>.sock)
  # db_path: defaults to ~/.local/share/pantalk/pantalk.db
  notification_history_size: 1000

bots:
  - name: ops-bot
    type: slack
    bot_token: $SLACK_BOT_TOKEN_OPS
    app_level_token: $SLACK_APP_LEVEL_TOKEN_OPS
    channels:
      - C0123456789

  - name: eng-bot
    type: slack
    bot_token: $SLACK_BOT_TOKEN_ENG
    app_level_token: $SLACK_APP_LEVEL_TOKEN_ENG
    channels:
      - C1123456789

  - name: discord-bot
    type: discord
    bot_token: $DISCORD_BOT_TOKEN_OPS
    channels:
      - '123456789012345678'

  - name: support-bot
    type: mattermost
    bot_token: $MATTERMOST_BOT_TOKEN_SUPPORT
    endpoint: https://mattermost.example.com
    channels:
      - a1b2c3d4e5f6g7h8i9j0k

  - name: alerts-bot
    type: telegram
    bot_token: $TELEGRAM_BOT_TOKEN_ALERTS
    channels:
      - '-1001234567890'
